.about-top-title {
    padding: 2.8rem 240px 1.45rem 240px;
}

.about-top-title a {
    margin-right: 2.4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.about-banner {
    height: 45rem;
    width: 100%;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
}

.about-banner-title-box {
    height: 25rem;
    padding-left: 13rem;
    position: relative;
    top: -38.5rem;
    left: 14rem;
}

.about-banner-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    color: rgba(255, 255, 255, 0.996078431372549);
    line-height: 50px;
}

.about-banner-desc {
    margin-top: 3rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.996078431372549);
}

.about-box {
    width: 100%;
    margin: 8rem auto 85px auto;
}

.about-box-title {
    width: 100%;
    margin: 0 auto 3rem auto;
    text-align: center;
    font-family: 'Arial ', 'PingFang', sans-serif;
    font-weight: 400;
    color: #555555;
    font-style: normal;
    font-size: 42px;
    text-align: center;
}

.about-box-desc {
    width: 1104px;
    margin: 3rem auto;
    font-family: 'Arial', 'PingFang', 'PingFang SC', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
}

.about-box-img {
    width: 1104px;
    margin: 5rem auto 45px auto;
    height: 30rem;
    /*background: url("../images/static/about-2.svg");*/
	background: url("../images/static/aboutus33.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-box-btn {
    font-size: 1rem;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 10rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.about-img-box {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
}

.about-img-box-img {
    height: 30rem;
    width: 50%;
}

.about-img-box-desc {
    height: 30rem;
    width: 50%;
    background-color: rgba(13, 58, 111, 1);
}

.about-img-box-desc-title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.996078431372549);
}

.about-img-box-desc-title-2 {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.996078431372549);
    line-height: 60px;
}

.about-img-box-desc-title-3 {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Arial Narrow', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.996078431372549);
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
}

.more-msg-box {
    width: 80%;
    margin: 6rem auto;
}

.more-msg-box-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: #2D2D2D;
    text-align: center;
}

.more-msg-box-news, .more-msg-box-story {
    margin-top: 3rem;
    border-radius: 1rem;
    width: 500px;
    height: 280px;
    background-color: rgba(234, 234, 234, 1);
    padding: 3rem 3rem;
}

.more-msg-box-item-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #333333;
}

.more-msg-box-item-desc {
    color: #333333;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    line-height: 50px;
}

.more-msg-box-item-btn {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 12rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    margin-top: 4rem;
    cursor: pointer;
    float: right;
}
