.brand-top-title{
    padding: 2.8rem 240px 1.45rem 240px;
}

.brand-top-title a{
    margin-right: 2.4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.brand-banner{
    height: 33rem;
    width: 100%;
    overflow: hidden;
}

.brand-banner img{
    width: 100%;
}
.brand-title{
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding-top: 5rem;
    margin-left: 120px;
}
.brand-desc{
    padding: 2rem 10rem;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    line-height: 42px;
	margin:0 auto;
	width:64%;
}

.brand-img-box{
    width: 99%;
    margin: 0 auto;
}

.brand-img-item{
    border: 1px dashed #b3b3b3;
    width: 237px;
    height: 125px;
    overflow: hidden;
    margin: 0.2rem;
    cursor: pointer;
}

.brand-img-item img {
    height: 125px;
    width: 15rem;
}
