.brand-top-title{
    padding: 2.8rem 240px 1.45rem 240px;
}

.brand-top-title a{
    margin-right: 2.4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.brand-banner{
    height: 33rem;
    width: 1920px;
    overflow: hidden;
}

.brand-banner img{
    width: 1920px;
}
.brand-title{
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding-top: 5rem;
}
.brand-desc{
    padding: 2rem 10rem;
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    line-height: 42px;
}

.brand-img-box{
    width: 95%;
    margin: 0 auto;
}

.brand-img-item{
    border: 1px dashed #b3b3b3;
    width: 279px;
    height: 125px;
    overflow: hidden;
    margin: 0.2rem;
    cursor: pointer;
}

.brand-img-item img {
    height: 8rem;
    width: 18rem;
}
