.cases-top-title{
    padding: 2.8rem 240px 1.45rem 240px;
}

.cases-top-title a{
    margin-right: 2.4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.cases-banner{
    height: 33rem;
    width: 1920px;
    overflow: hidden;
}

.cases-banner img{
    width: 1920px;
}

.cases-title{
    text-align: center;
    padding-top: 3.5rem;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;

}

.cases-desc{
    margin-left: 240px;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    font-weight: 300;
    width: 1440px;
	text-align:center;
}

.cases-list-box{
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 240px;
}

.cases-item-box{
    width: 440px;
    height: 459px;
    overflow: hidden;
    margin: 1.2rem;
}

.cases-item-box img{
    height: 17rem;
}

.cases-item-title{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 26px;
    font-weight: 300;
    line-height: 4rem;
    color: #333333;
}

.cases-item-desc{
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: #7F7F7F;
    line-height: 30px;
    /*line-height: 4rem;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
