.case-top-nav {
    padding: 2rem 240px;
}

.case-top-nav a {
    color: #484848;
    margin-right: 1.5rem;
}

.case-top {
    height: 137px;
    background-color: rgba(242, 242, 242, 1);
}

.case-content {
    width: 65%;
    margin: 4rem auto;
    min-height: 50rem;
}

.case-top-title {
    font-size: 36px;
    color: #555555;
    padding-left: 5rem;
    padding-top: 2rem;
    font-weight: 600;
}

.case-top-date {
    font-size: 20px;
    padding-left: 5rem;
    font-weight: 300;
    padding-top: 10px;
}

.case-btn-box {
    width: 65%;
    padding-right: 1rem;
    margin: 0 auto 10rem auto;
    text-align: right;
}

.case-btn-prev-box a, .case-btn-next-box a {
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 0.5rem;
}

.case-btn-next-box {
    margin-left: 0.5rem;
}

.case-btn-prev-box img {
    transform: rotate(180deg);
    margin-top: 0.3rem;
}

.case-btn-next-box img {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}
