.cert-top-title{
    padding: 2rem 240px;
}
.cases-top-title{
	height: 84px;
    width: 100%;
    position: fixed;
    background-color: white;
    margin-top: 9px;
}
.cases-top-title a{
	margin-right:2.4rem !important;
}
.cert-top-title a{
    color: #484848;
    margin-right: 1.5rem;
}

.cert-banner{
    height: 32rem;
    overflow: hidden;
	padding-top:94px;
}

.cert-banner img{
    width: 100%;
}
.cert-title{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: #555555;
    padding-top: 3rem;
}
.cert-title-2{
    text-align: center;
    font-size: 2.1rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.cert-img-box{
    /*width: 95%;*/
	max-width: 1460px;
    margin: 3rem auto;
    /*margin-left: 240px;*/
	text-align:center;
}

.cert-img-item{
    width: 22rem;
    height: 350px;
    overflow: hidden;
    margin: 0.8rem;
    cursor: pointer;

}

.cert-img-item img {
    height: 18rem;
    width: 22rem;
    background-color: #f1f1f1;

}

.sm-title{
    width: 22rem;
    height: 3rem;
    line-height: 3.2rem;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #858d9b;
    text-align: center;
    margin-top: 0.6rem;
}
