.connect-top-title{
    padding: 2.8rem 240px 1.45rem 240px;
}

.connect-top-title a{
    margin-right: 2.4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.connect-banner{
    height: 33rem;
    width: 100%;
    overflow: hidden;
}

.connect-banner img{
    width: 1920px;
}

.connect-title{
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'PingFang ', 'PingFang', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
    color: #333333;
}

.connect-desc{
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #555555;
}

.connect-list-box{
    width: 95%;
    margin: 0 auto;
}

.connect-desc-box{
    height: 13rem;
}

.connect-desc-left{
    width: 55%;
    float: left;
}

.connect-desc-right{
    width: 45%;
    float: right;
}

.connect-addr-box{
    width: 1177px;
    height: 637px;
    margin: 0 auto;
}
