* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.95rem;
}

.main-content {
    margin-top: 8rem;
}

.font-color-white {
    color: white !important;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ml-5 {
    margin-left: 0.5rem;
}

.mt-1rem {
    margin-top: 1rem;
}


/* tools */
.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}
