.header-box {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9999;
    box-shadow: 2px 2px 2px #868686;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    height: 2.3rem;
    width: 100%;
    background-color: #333333;
}

.header-top .right {
    width: 18rem;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    margin-right: 0;
}

/* Phone 或 PAD */
/*.header-body{*/
/*	height: 2rem;*/
/*	padding-top: 2rem;*/
/*	padding-bottom: 2rem;*/
/*	display: flex;*/
/*	justify-content: flex-start;*/
/*}*/
/*.header-body .item{*/
/*	margin-left: 2rem;*/
/*	height: 2rem;*/
/*	line-height: 3rem;*/
/*	font-size: 1.15rem;*/
/*}*/

/* PC */
.header-body {
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    display: flex;
    justify-content: flex-start;
}

.header-body .item {
    margin-left: 6rem;
    height: 2rem;
    line-height: 3rem;
    font-size: 1.15rem;
}

.header-body .logo {
    width: 18rem;
    height: 2rem;
    background: url("../images/static/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header-to-banner {
    height: 0.1rem;
    margin-top: 8.2rem;
}

.banner-box {
    height: 44rem;
    width: 100%;
    display: flex;
}

.banner-box .item {
    width: 30%;
    overflow: hidden;
}

.banner-box .item .mask {
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 45rem;
    width: 100%;
    position: relative;
    bottom: 45rem;
}

.banner-box .active {
    width: 70%;
}

.banner-box .item img {
    height: 44rem;
}

.banner-box .active img {
    width: 100%;
    height: 44rem;
}

.banner-box .item .text {
    height: 29rem;
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: 75rem;
}

.banner-box .item .text .links {
    display: none;
}

.banner-box .active .text .links {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

/*.banner-box .item .more{*/
/*	font-size: 1rem;*/
/*	height: 2.7rem;*/
/*	line-height: 2.7rem;*/
/*	width: 12rem;*/
/*	background-color: rgba(3, 100, 210, 1);*/
/*	border-radius: 3rem;*/
/*	text-align: center;*/
/*	margin-top: 2rem;*/
/*}*/

.more {
    font-size: 1rem;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 12rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.header-bottom {
    background-color: rgba(13, 38, 77, 1);
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    font-size: 2.4rem;
    color: white;
}

.about-box {
    width: 90%;
    height: 22rem;
    margin: 5rem auto;
    border-radius: 2rem;
    background: url("../images/static/banner-3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-box .mask {
    border-radius: 2rem;
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 22rem;
    width: 100%;
    position: relative;
}

.about-box .text-top {
    /*padding-top: 5rem;*/
    margin-top: -15rem;
    margin-left: 8rem;
    font-size: 2.6rem;
    line-height: 4rem;
    position: relative;
    /*z-index: 999;*/
}

.about-box .more {
    float: right;
    margin-right: 13rem;
    margin-top: 0.8rem;
    position: relative;
}

.title {
    font-size: 2.8rem;
    color: #333333;
    margin-left: 5rem;
}

.product-box {
    width: 90%;
    height: 35rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.product-box .item {
    width: 29rem;
    height: 35rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: rgba(242, 242, 242, 1);
}

.item-top, .item-top img {
    height: 20rem;
    width: 29rem;
    border-radius: 1.5rem;
}

.item-bottom {
    height: 15rem;
    padding: 2rem;
}

.item-bottom-title {
    font-size: 2rem;
}

.item-bottom-desc {
    padding-top: 1rem;
    font-size: 1.3rem;
}

.news-box {
    width: 90%;
    height: 55rem;
    margin: 8rem auto;
}

.left-box {
    float: left;
    width: 58%;
    height: 55rem;
}

.right-box {
    float: right;
    width: 40%;
    background-color: rgba(242, 242, 242, 1);
    height: 55rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.left-box-about {
    height: 35rem;
    border-radius: 1.5rem;
    width: 100%;
}

.left-box-about-mask {
    border-radius: 1.5rem;
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 35rem;
    width: 100%;
    /*position: relative;*/
    margin-top: -35rem;
}

.left-box-about-title {
    position: relative;
    z-index: 999;
    top: 5rem;
}

.left-box-about-desc {
    position: relative;
    top: 8rem;
    color: white;
    z-index: 999;
    font-size: 1.6rem;
    left: 5rem;
    width: 75%;
}

.left-box-about-more {
    position: relative;
    z-index: 999;
    left: 32rem;
    top: 6rem;
}

.left-box-invite {
    height: 18rem;
    background-color: #1e1616;
    border-radius: 1.5rem;
    width: 100%;
    margin-top: 2rem;
}

.left-box-invite-mask {
    border-radius: 1.5rem;
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 18rem;
    width: 100%;
    /*position: relative;*/
    margin-top: -18rem;
}

.left-box-invite-title {
    position: relative;
    z-index: 999;
    top: 3rem;
}

.left-box-invite-desc {
    position: relative;
    top: 4rem;
    color: white;
    z-index: 999;
    font-size: 1.6rem;
    left: 5rem;
    width: 75%;
}

.left-box-invite-more {
    position: relative;
    z-index: 999;
    left: 32rem;
    top: 1rem;
}

.right-box-top-img {
    height: 12rem;
    overflow: hidden;
}

.right-box-top-img-mask {
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 12rem;
    width: 100%;
    margin-top: -12rem;
}

.right-box-top-img-title {
    position: relative;
    z-index: 999;
    /*top: 3rem;*/
    line-height: 12rem;
    color: white
}

.news-item {
    height: 11rem;
    width: 90%;
    margin: 1rem auto;
}

.news-item-left {
    width: 29%;
    height: 11rem;
    float: left;
}

.news-item-left img {
    height: 7rem;
    width: 9rem;
}

.news-item-right {
    width: 69%;
    height: 11rem;
    float: right;
}

.news-item-right-title {
    color: #333333;
    font-size: 1.2rem;
    height: 2rem;
    line-height: 2rem;
}

.news-item-right-desc {
    color: #333333;
    font-size: 1rem;
    height: 6.3rem;
    overflow: hidden;
    line-height: 1.6rem;
}

.news-item-right-more {
    color: rgba(111, 111, 111, 0.996078431372549);
    font-size: 0.8rem;
    float: right;
    margin-top: 1.5rem;
}

.right-box-more {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}

.news {
    margin-top: 2rem;
}

.project {
    width: 90%;
    height: 20rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.project-item {
    width: 32%;
    height: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.project-item-content-box {
    height: 8rem;
    position: relative;
    top: 12.1rem;
    padding-top: 1rem;
    z-index: 999;
}

.project-item-content-box-mask {
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 8rem;
    position: relative;
    top: 3rem;
}

.project-item-content-box-title {
    font-size: 1.8rem;
    margin-left: 5rem;
    line-height: 3rem;
}

.project-item-content-box-desc {
    font-size: 1.4rem;
    margin-left: 5rem;
}

.project-arrow-box {
    position: relative;
    width: 95%;
    margin: 0 auto;
    bottom: 15rem;
}

.product-arrow-box {
    position: relative;
    width: 95%;
    margin: 0 auto;
    bottom: 29rem;
}

.left-arrow img,.right-arrow img {
    width: 1.3rem;
    height: 2.3rem;
}

.left-arrow{
    float: left;
}
.right-arrow {
    float: right;
    transform: rotate(180deg);
}
