.nav {
    font-size: 1.15rem;
    line-height: 5rem;
    padding-left: 3rem;
    color: #484848;
}

.product-info-title {
    color: #484848;
    font-size: 2.6rem;
}

.product-info-box {
    width: 93%;
    margin: 3rem auto;
    min-height: 10rem;
}

.product-info-file-box {
    width: 90%;
    margin: 3rem auto;
    font-size: 1.4rem;
    height: 5rem;
    line-height: 5rem;
    padding-left: 4rem;
}

.product-info-file-box a{
    font-size: 1.8rem;
    line-height: 5rem;
    color: #3939ff;
}

.more-product-box {
    width: 93%;
    margin: 3rem auto;
    height: 25rem;
}

.more-product-box-title {
    font-size: 2.8rem;
    text-align: center;
    color: #2D2D2D;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #cccccc;
    margin: 0 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-active-switch {
   /* background: #fff;*/
   background:#009CE5;
}

.pagination {
    z-index: 999;
    text-align: center;
}

.more-product-box-list-box {
    margin: 0 auto;
    padding-top: 3rem;
    height: 20rem;
}

.more-product-box-list-box-item {
    display: inline-block;
    width: 21.7rem !important;
    height: 15.5rem !important;
    border-radius: 1rem;
    margin-right: 1rem;
}

.more-product-box-list-box-item-mask {
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 15.5rem;
    position: relative;
    border-radius: 1rem;
}

.more-product-box-list-box-item-button {
    margin: 0 auto;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 8.3rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -9rem;
}
.product-info-box img{
    height:750px;
	border-radius: 20px;
}
.product-info-box div{
    position:relative;
	width: 1320px;
}
.product-info-box div>div{
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.996078431372549);
    line-height: 65px;
position:absolute;
text-align:center;
}
.product-info-box div:nth-child(2),.product-info-box div:nth-child(3){
    margin-top:12rem;
}
.product-info-box div:nth-child(1) div:nth-child(1){
    top:0px;
}
.product-info-box div:nth-child(1),.product-info-box div:nth-child(2){
    margin-top:2rem;

font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.996078431372549);
    text-align: center;
    line-height: 65px;
}
.product-info-box div:nth-child(2) div {
    width: 736px;
    right: 100px;
    top: 200px;
font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.996078431372549);
    text-align: center;
    line-height: 65px;
}
.product-info-box div:nth-child(2) video{
	width: 736px;
	position:absolute;
	right: 100px;
	top:360px;
}
.product-info-box div:nth-child(3) {
    height: 750px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.996078431372549);
    line-height: 65px;
    position: relative;
    padding-top: 61px;
    /*padding-left: 170px;*/
}
.product-info-box div:nth-child(3) img {
    position: absolute;
    z-index: -1;
    /*margin-top: -250px;*/
	margin-top:-246px;
    /*margin-left: -170px;*/
}
.product-box-right-box-tab-box-item{
	margin-top:5rem;
}
.product-box-right-box-tab-box-item-title{
	font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2D2D2D;
}
.product-info-box div:nth-child(3) div:nth-child(1){
    position:relative;
    /*padding-left:20px*/
}
.product-info-box div:nth-child(3) div:nth-child(1) div:nth-child(1){
        font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.996078431372549);
    text-align: justify;
    top: inherit;
    margin-top: 4rem;
    padding-left: 10px;
}
.product-info-box div:nth-child(3) div:nth-child(1) div:nth-child(2){
     text-align: left;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.996078431372549);
    text-align: justify;
    top: inherit;
    margin-top: 0px;
padding-left: 10px;
}