.product-top-title {
    padding: 2.8rem 240px 1.45rem 240px;
}

.product-top-title a {
    margin-right: 4rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.product-menu-box {
    height: 30rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.product-menu-box-mask {
    height: 30rem;
    width: 100%;
    opacity: 0.6;
    background-color: #3e3d3d;
}

.close-mask {
    cursor: pointer;
    width: 4rem;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    position: relative;
    top: -2rem;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 2rem;
    opacity: 0.6;
    background-color: #3e3d3d;
    color: #FFF;
}

.product-menu-item-warp {
    padding: 10rem 13rem 1rem 13rem;
    width: 100%;
    height: 30rem;
    position: relative;
    top: -36rem;
    overflow: hidden;
}

.product-menu-item {
    margin-top: 0.4rem;
    width: 16rem;
    overflow: hidden;
}

.product-menu-cate {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.product-menu-cate-child-product {
    font-size: 1rem;
    color: #404040;
}

.product-banner-box {
    width: 1440px;
    height: 39rem;
    margin: 2rem auto;
}

.product-banner-box-preview-box {
    width: 60%;
    height: 39rem;
}


.product-banner-box-tab-box {
    width: 40%;
    height: 39rem;
}

.banner-box-tab-item {
    font-size: 1.2rem;
    height: 6.5rem;
    line-height: 6.5rem;
    color: #ffffff;
    padding-left: 5rem;
    cursor: pointer;
    z-index: 900;
}

.banner-box-tab-item-mask {
    height: 6.5rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    left: -3rem;
    z-index: 999;
}

.mask-icon {
    width: 6.5rem;
    height: 6.5rem;
    overflow: hidden;
    border-right: 1px solid blue;
}

.mask-text-box {
    height: 6.5rem;
    padding: 1.2rem;
}

.mask-title {
    font-size: 1.2rem;
}

.mask-desc {
    font-size: 1.2rem;
    color: #333333;
    line-height: 3rem;
}

.product-box {
    background-color: rgba(240, 240, 240, 1);
    margin-top: 5rem;
}

.product-box-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}

.product-item-box {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.product-item {
    height: 359px;
    width: 329px;
    margin: 11.5px;
    margin-top: 45px;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.product-item img {
    width: 329px;
    height: 252px;
}

.product-item-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #333333;
    padding: 1.5rem 3.5rem 0 3.5rem;
}

.product-item-btn {
    font-size: 14px;
    ont-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 2.2rem;
    line-height: 2.2rem;
    width: 8rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 1rem;
}

.product-block-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #000C3B;
    text-align: center;
    margin-top: 100px;
}

.product-trust-box {
    width: 1440px;
    margin: 30px auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.product-trust-item {
    height: 250px;
    width: 692px;
    border-radius: 1rem;
    overflow: hidden;
}

.product-trust-item-mask {
    border-radius: 1rem;
    opacity: 0;
    background-color: #3E3E3E;
    height: 250px;
    width: 100%;
}

.product-trust-item-title {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    position: relative;
    z-index: 999;
    top: -9rem;
}

.product-plan-box {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 1440px;
    margin: 30px auto;
    height: 18rem;
    display: flex;
    justify-content: space-between;
}

.product-plan-item {
    height: 324px;
    width: 468px;
    border-radius: 1rem;
    overflow: hidden;
}

.product-plan-item-mask {
    border-radius: 1rem;
    opacity: 0.6;
    background-color: #3E3E3E;
    height: 324px;
    width: 468px;
}

.product-plan-item-mini-title {
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.996078431372549);
    padding-left: 3rem;
    position: relative;
    z-index: 999;
    top: -18rem;
}

.product-plan-item-title {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 40px;
    padding-left: 3rem;
    position: relative;
    z-index: 999;
    top: -16rem;
}

.product-plan-item-desc {
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    z-index: 999;
    font-size: 1.2rem;
    top: -15rem;
}

.product-connect-btn {
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    height: 2.6rem;
    width: 10rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    margin: 10rem auto 6rem auto;
    cursor: pointer;
}
