footer{
	margin-top:0px !important
}
.nav {
    padding: 2.8rem 240px 1.45rem 240px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484848;
}

.top-banner {
    width: 1920px;
    height: 199px;
}

.top-banner-title {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.996078431372549);
    line-height: 13rem;
    margin-left: 260px;
}

.desc-box {
    background-color: rgba(242, 242, 242, 1);
    height: 28rem;
    width: 1440px;
    margin: 4rem auto;
    padding-top: 4rem;
    border-radius: 1rem;
}

.desc-box-top-text {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 40px;
    color: #333333;
    width: 80%;
    margin: 0rem auto;
}

.desc-box-icon-box {
    width: 60%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.desc-box-icon-item {
    height: 13rem;
    width: 13rem;
}

.desc-box-icon {
    height: 7rem;
    width: 7.5rem;
    margin: 1rem auto;
}

.desc-box-icon-desc {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #484848;
    line-height: 45px;
    text-align: center;
}

.product-box {
    height: 60rem;
    width: 1440px;
    margin: 0 auto;
}

.product-box-left-box {
    background-color: rgba(242, 242, 242, 1);
    height: 60rem;
    width: 18%;
    float: left;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
}

.product-box-left-item {
    margin-bottom: 1.5rem;
}

.product-box-left-item-nav {
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #484848;
    line-height: 45px;
    margin-left: 0.3rem;
}

.product-box-right-box {
    width: 82%;
    float: right;
}

.product-box-right-item {
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 274px;
    height: 412px;
    border: 1px dashed #333333;
}

.product-item-img {
    height: 216px;
    width: 274px;
    border-bottom: 1px dashed #333333;
}

.tips-box {
    padding-left: 1.8rem;
    height: 3rem;
    padding-top: 0.75rem;
}

.new-box {
    height: 1.5rem;
    font-size: 0.95rem;
    width: 3.4rem;
    background-color: rgba(205, 2, 0, 1);
    text-align: center;
}

.product-item-title {
    font-size: 20px;
    color: #484848;
    line-height: 45px;
    padding-left: 1.8rem;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 4rem;
    width: 16rem;
    overflow: hidden;
}

.product-item-color {
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    font-size: 15px;
    line-height: 28px;
    padding-left: 1.8rem;
    color: #333333;
    margin-top: 0.4rem;
}

.product-item-power {
    padding-left: 1.8rem;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    font-size: 15px;
    line-height: 28px;
}

.product-box-left-item-child{
    display: none;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
}

.active{
    color: red !important;
}
