.service-top-title {
    padding: 2.8rem 240px 1.45rem 240px;
}

.service-top-title a {
    color: #484848;
    margin-right: 1.5rem;
    font-size:16px ;
}

.service-banner {
    height: 32rem;
    overflow: hidden;
}

.service-banner img {
    width: 100%;
}

.content {
    width: 90%;
    margin: 3rem auto;
    min-height: 30rem;
}

.apply-box {
    background-color: rgba(242, 242, 242, 1);
    width: 1174px;
    margin-top: 3rem;
    margin-left: 100px;
    height: 348px;
	margin: 0 auto;
}

.apply-box-left {
    width: 45%;
    float: left;
    height: 23rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.apply-box-right {
    width: 51%;
    float: right;
    height: 23rem;
    padding-top: 2rem;
    /*padding-left: 4rem;*/
}

.apply-box-right-title {
    font-size: 2.1rem;
    color: #333333;
    font-weight: 300;
}

.apply-box-right-desc {
    color: #7F7F7F;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 8rem;
}

.apply-box-right-email, .apply-box-right-email span {
    color: #02A7F0;
    font-size: 1.6rem;
    font-weight: 300;
}

.apply-box-right-email span{
    font-weight: 200;
}

.apply-box-right-btn{
    font-size: 1rem;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 11rem;
    background-color: rgba(3, 100, 210, 1);
    border-radius: 3rem;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 180px;
}


.brand-title{
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding-top: 5rem;
}
.brand-desc{
    padding: 2rem 10rem;
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    line-height: 42px;
	width:64%;
	margin:0 auto;
}
